@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');


.hidden {
  display: none;
}

body {
  background-color: #000;
  text-align: center;
  color: #fff;
  font-family: 'Lato', sans-serif;
  background-image: url(../images/background_01.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

.music-board {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  /* background-color: rgba(255, 255, 255, 0.1); */
  width: 850px;
  height: auto;
  margin: 0 auto;
}

.play-board-1, .play-board-2 {
  /* width: 150px; */
  height: auto;
  margin: 50px auto;
}

.play-board-1 {
  display: grid;
  justify-content: space-evenly;
  margin-top: 30px;
}

.play-board-2 {
  display: grid;
  align-items: column;
  justify-content: space-evenly;
  margin-top: 30px;
}

.title {
  display: grid;
  flex-direction: column;
  align-items: flex-end;
  margin: 0 auto;
  width: 500px;
}

.title .ukraine-flag img {
  width: 150px;
  margin-top: 200px;
}

.head-slogan h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 1.1em;
}

.head-slogan h2 {
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5em;
}

.drag-box{
  height: 100px;
  width: 100px;
  border: 3px solid #ffff;
  border-radius: 15%;
  transition: .5s;
  box-shadow: 0 0 15px #fff;
  margin: 15px 0;
  padding: 20px;
}

.drag-box img {
  border: 2px solid #ffff;
  border-radius: 50% !important;
  transition: .5s;
  height: 100px !important;
  width: 100px !important;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}


#icon_Test1{
  transition: .5s;
  box-shadow: 0 0 20px 10px #000;
  border-radius: 50px 50px 50px 50px;
  height: 80px;
  width: 80px;
}

#icon_Test1:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px 10px #074299;
  cursor: pointer;
}

#icon_Test2{
  transition: .5s;
  box-shadow: 0 0 20px 10px #000;
  border-radius: 50px 50px 50px 50px;
  height: 80px;
  width: 80px;

}

#icon_Test2:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px 10px #7bc142;
  cursor: pointer;
}

#icon_Test3{
  transition: .5s;
  box-shadow: 0 0 20px 10px #000;
  border-radius: 50px 50px 50px 50px;
  height: 80px;
  width: 80px;
}

#icon_Test3:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px 10px #ffaf01;
  cursor: pointer;
}

#icon_Test4{
  transition: .5s;
  box-shadow: 0 0 20px 10px #000;
  border-radius: 50px 50px 50px 50px;
  height: 80px;
  width: 80px;

}

#icon_Test4:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px 10px #ff77f4;
  cursor: pointer;
}

#icon_Test5{
  transition: .5s;
  box-shadow: 0 0 20px 10px #000;
  border-radius: 50px 50px 50px 50px;
  height: 80px;
  width: 80px;

}

#icon_Test5:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px 10px #af01a1;
  cursor: pointer;
}

#icon_Test6{
  transition: .5s;
  box-shadow: 0 0 20px 10px #000;
  border-radius: 50px 50px 50px 50px;
  height: 80px;
  width: 80px;

}

#icon_Test6:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px 10px #ff0000;
  cursor: pointer;
}

#icon_Test7{
  transition: .5s;
  box-shadow: 0 0 20px 10px #000;
  border-radius: 50px 50px 50px 50px;
  height: 80px;
  width: 80px;

}

#icon_Test7:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px 10px #00b7ff;
  cursor: pointer;
}

#icon_Test8{
  transition: .5s;
  box-shadow: 0 0 20px 10px #000;
  border-radius: 50px 50px 50px 50px;
  height: 80px;
  width: 80px;

}

#icon_Test8:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px 10px #ffd900;
  cursor: pointer;
}

.disc-set {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 170px;
}

.icon-set-1 {
  display: flex;
  justify-content: space-evenly;
  order: 0;
  width: 600px;
}

.icon-set-2 {
  display: flex;
  justify-content: space-evenly;
  order: 2;
  width: 600px;
}

.reset-button {
  display: flex;
  justify-content: space-evenly;
  order: 1;
}

button#reset{
  cursor: pointer;
  width: 180px;
  height: 50px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
  font-weight: 300;
  letter-spacing: .3em;
  transition: .5s;
  box-shadow: 0 0 20px 15px #000;
  border-radius: 30px 30px 30px 30px;
  color: white;
}

button#reset:hover{
  box-shadow: 0 0 20px 10px rgb(218, 218, 218);
  cursor: pointer;
}

.bottom-metal {
  background-repeat: no-repeat;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  z-index: -1;
}